.detailsDiv {
  max-width: 90%;
  margin-left: 4rem;
}

.topSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 2rem 1fr;
}

.backlink {
  grid-column-start: 2;
  grid-row-start: 2;
  margin-top: 2rem;
}

.imgDiv {
  grid-column-start: 4;
  grid-row-start: 2;
}

.img {
  border-radius: 10px;
}

.title {
  margin: 2rem 0 2rem 0;
  font-size: 50px;
}

.description {
  font-size: 20px;
}

.ratingDiv {
  display: flex;
  align-items: center;
}

.rating {
  margin-right: 1rem;
}

.rating:hover {
  cursor: pointer;
}

.detailsDiv h3 {
  font-size: 40px;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.peopleDiv {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
