.globalDiv {
  max-width: 32rem;
  max-height: 71rem;
  margin: 0.8rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-around;
  border: solid 3px #042e83;
  border-radius: 13px;
}

.imgDiv {
  width: 100%;
}

.img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.movieInfo {
  width: 100%;
  padding-left: 1.563rem;
  padding-bottom: 0.625rem;
  border-radius: 10px;
  background-color: white;
  background: radial-gradient(125% 125% at 50% 10%, #fff 40%, #4579df 100%);
}

.titleText {
  margin: 1rem 0 1rem 0;
  font-size: 25px;
  cursor: pointer;
}

.title {
  color: #042e83;
  text-decoration: none;
}

.title :hover,
.title :focus,
.title :active {
  text-decoration: underline;
}

.description {
  font-size: 20px;
}

.ratingDiv {
  display: flex;
  align-items: center;
}
.rating {
  margin-right: 1rem;
}

.rating:hover {
  cursor: pointer;
}

.votes {
  padding-top: 11px;
}
